body {
  background-image: url('https://previews.123rf.com/images/dinkoobraz/dinkoobraz1712/dinkoobraz171200053/91445511-funny-doodle-dog-icons-seamless-pattern-dibujado-a-mano-mascota-ni%C3%B1o-dibujado-dise%C3%B1o-lindo-estilo-el.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
